body {
   
    font-family: Arial, sans-serif;
}
.nav-link {
    color: white !important;
}
nav{
    color: aliceblue;
}
.navbar-brand {
    color: aliceblue;
    font-weight: bold;
}

h1 {
  
    margin-bottom: 40px;
}

.card {
   
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.card.show {
    transform: translateY(0);
    opacity: 1;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
}

footer {
    background-color: #050505;
    color: aliceblue;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
